.WorkWithUs {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  margin-top: calc(81px + 92 * ((100vw - 340px) / (1440 - 340)));
  padding-bottom: 37px;
  flex-wrap: wrap;
}

.text_header {
  font-family: "Actay Wide", Arial, Sans-Serif;
  font-size: calc(25px + 35 * ((100vw - 340px) / (1440 - 340)));
  color: #f5f3f3;
}
.text_text {
  font-family: "Actay Wide", Arial, Sans-Serif;
  font-size: calc(14px + 6 * ((100vw - 340px) / (1440 - 340)));
  color: #ffffff;
  margin-top: calc(29px + 89 * ((100vw - 340px) / (1440 - 340)));
  line-height: 24px;
  width: calc(300px + 194 * ((100vw - 340px) / (1440 - 340)));
}

.WorkWithUs_Slider {
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.column-1 {
  width: max-content;
  align-items: flex-end;
  margin-top: 48px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#slider-1 { width: calc(88px + 59 * ((100vw - 340px) / (1440 - 340))); height: calc(66px + 132 * ((100vw - 340px) / (1440 - 340))); }
#slider-2 { width: calc(107px + 131 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); }
#slider-3 { width: calc(130px + 161 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); }
#slider-4 { width: calc(107px + 131 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); }
#slider-5 { width: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); height: calc(150px + 186 * ((100vw - 340px) / (1440 - 340))); }
#slider-6 { width: calc(100px + 121 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); }
#slider-7 { width: calc(114px + 140 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 89 * ((100vw - 340px) / (1440 - 340))); }
#slider-8 { width: calc(130px + 161 * ((100vw - 340px) / (1440 - 340))); height: calc(73px + 91 * ((100vw - 340px) / (1440 - 340))); }

.slider-block {
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.slide.active {
  opacity: 1;
}
